<div id="support" class="modal fade" tabindex="-1">
  <form action="#" method="post">
    <div class="modal-body">
      <p>Would you like to continue with some arbitrary task?</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      <button type="submit" data-dismiss="modal" class="btn btn-primary">Supoort</button>
    </div>
  </form>
</div>
