.wrapper.wrapper-content
  .row.border-bottom.white-bg.page-heading
    %h2 Here is all dhokebaazs added by you
  .row
    .col-md-12.no-padding
      .ibox.float-e-margins
        .ibox-content
          - @dhokebaazs.each do |dhokebaaz|
            = render "dhokebaaz", dhokebaaz: dhokebaaz
          .text-center= "Nobody has been added by you yet." if @dhokebaazs.length == 0
