.wrapper.wrapper-content
  .row.border-bottom.white-bg.page-heading
    %h2 Share about Dhokebaaz here
  .row
    .col-md-12.no-padding
      .ibox.float-e-margins
        .ibox-title
          %h5 Add details of Dhokebaaz.          
        .ibox-content
          %h5 Please keep in mind that whole responsibility of the profile created by you shall only be on you.
          %h5 We request you not to post about any political personality or organization. These entries shall be removed immediately once detected.
          = render "form"
