%title Terms and conditions | Dhokebaaz.net
.container.page-heading{:style => "margin-top:100px;>  "}
.Section1
  %p.MsoNormal{:align => "center", :style => "margin-bottom:32.0pt;text-align:center;text-autospace:none"}
    %b
      %u
        %span{:style => "font-size:16.0pt;font-family:\"Helvetica\",\"sans-serif\""} Dhokebaaz.net | Terms of Service
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      May 1
      %sup> st
      , 2015
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""} THIS FOLLOWING USER AGREEMENT DESCRIBES THE TERMS AND CONDITIONS ON WHICH Dhokebaaz.net OFFERS YOU ACCESS TO THE Dhokebaaz.net PLATFORM.
  %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Welcome to the user agreement (the "Agreement" or "User Agreement" or "Terms of Service") for Dhokebaaz.net (the &#x201C;Dhokebaaz.net Platform&#x201D;),
      an application owned and operated by TruthFinders. This Agreement is a legally binding agreement made between
      you ("You," "Your," or "Yourself") and Dhokebaaz.net. ("Dhokebaaz.net," "We," "Us" or "Our").
  %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;         text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Dhokebaaz.net is willing to license, not sell, the Dhokebaaz.net Platform to You only upon the
      condition that You accept all the terms contained in this Agreement. By signing
      up with or by using the Dhokebaaz.net Platform, You indicate that You understand
      this Agreement and accept all of its terms. If You do not accept all the terms
      of this Agreement, then Dhokebaaz.net is unwilling to license the Dhokebaaz.net Platform
      to You.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Please read this Agreement carefully before using the services we provide. You must
      read, agree with and accept all of the terms and conditions contained in this
      Agreement, which includes those terms and conditions expressly set out below
      and those incorporated by reference, before You use any of the Services. By
      using any of the Services, You become a Participant in Dhokebaaz.net and a User of
      Services available on the Dhokebaaz.net Platform ("Participant" or
      "User") and You agree to be bound by the terms and conditions of this
      Agreement with respect to such Services.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      IF
      YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT, PLEASE
      DO NOT USE OR ACCESS Dhokebaaz.net OR REGISTER FOR THE SERVICES PROVIDED ON Dhokebaaz.net.
      We may amend this Agreement at any time by posting the amended terms on the Dhokebaaz.net Platform.
      If We post amended terms on the Dhokebaaz.net Platform, You may not use the Services
      without accepting them. Except as stated below, all amended terms shall
      automatically be effective after they are posted on the Dhokebaaz.net Platform.
      This Agreement may not be otherwise amended except in writing signed by You and
      Dhokebaaz.net.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      What is Dhokebaaz.net?
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      The Dhokebaaz.net Platform provides support to personals to share information about cheating incidents happend with them in any form.
      Dhokebaaz profiles created are just a claim floated in the public domain to get support and notify others.
      For purposes of this Agreement these services shall collectively be defined as the
      "Services". This Agreement describes the terms and conditions that will govern Your use of and participation in the Dhokebaaz.net Platform.
  %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;         text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\";         color:#332F2E"}
      We, at Dhokebaaz.net, take great measures to provide you with the
      best experience you can have while using Dhokebaaz.net; However, Dhokebaaz.net has no
      control over the conduct of any participant any other User and disclaims
      all liability in this regard.
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\";color:#332F2E"}
      Participating in Dhokebaaz.net activities as a result, directly or indirectly,
      from using Dhokebaaz.net, is entirely at your own risk. Dhokebaaz.net is not a party to
      any agreement entered into between other users in any circumstances.
      
      User has the sole and ultimate responsibility regarding compliance with all laws,
      regulation, religious duties or any other duty
      relating to the information shared or comments made. We do not accept any liability for any loss,
      damage, cost or expense that you may suffer or incur as a result of or in
      connection with your participation in any activity conducted by a User or a
      third party.
  %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;         text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\";         color:#332F2E"}
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      You
      are the sole authorized user of Your account. You are responsible for
      maintaining the confidentiality of any password provided by You or Dhokebaaz.net
      for accessing the Services. You are solely and fully responsible for all
      activities that occur under Your password or account. Dhokebaaz.net has no control
      over the use of any User's account and expressly disclaims any liability
      derived therefrom. Should You suspect that any unauthorized party may be using
      Your password or account or You suspect any other breach of security, You will
      contact Us immediately.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Term
      and Termination
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      This
      Agreement is effective upon use of the Dhokebaaz.net Platform or the Services for
      new Users and upon the posting dates of any subsequent amendments to this
      Agreement for all current Users. You may terminate Your participation in the
      Services at any time, for any reason upon receipt by Us of Your written or email
      notice of termination. Either You or We may terminate Your participation in the
      Dhokebaaz.net Platform by removing Your Information at any time, for any or no
      reason, without explanation, effective upon sending written or email notice to
      the other party. Upon such termination, We will remove all of Your information
      from Our servers, though We may retain an archived copy of records We have
      about You as required by law or for legitimate business purposes. We maintain
      sole discretion to bar Your use of the Services in the future, for any or no
      reason. Even after Your participation in the Dhokebaaz.net Platform is terminated,
      this Agreement will remain in effect.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Additionally,
      the Company may at any times, at its sole discretion, cease the operation of Dhokebaaz.net
      or the Service or any part thereof, temporarily or permanently, without giving
      any prior notice. You agree and acknowledge that the Company does not assume
      any responsibility with respect to, or in connection with the termination of Dhokebaaz.net's
      operation and loss of any data, including User Generated Content, as a result,
      as long as your pending reservation is handled properly.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Your
      Information
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Your
      Information is any information You provide, publish or display
      ("post") to the Dhokebaaz.net Platform or send to other Users in the
      registration or in any public message area (including, but not limited to the
      feedback section) or through any email feature ("Your Information").
      Your Information will be stored on computers. You consent to Us using Your
      Information to create a User account that will allow You to participate in the
      Services. You are solely responsible for Your Information and Your interactions
      with other people in the public, and We act only as a passive conduit for Your
      online posting of Your Information. When You use the Dhokebaaz.net Platform, You
      agree to provide accurate, current and complete information as prompted by Our
      registration form and to maintain and timely update Your Information to keep it
      accurate, current and complete at all times during the Term of the Agreement.
      You agree that We and other people of the public may rely on Your Information
      as accurate, current and complete. You acknowledge that if Your Information is
      untrue, inaccurate, not current or incomplete in any respect, We have the right
      to terminate this Agreement and Your use of the Services.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Identity
      Verification. Dhokebaaz.net makes no effort to verify, the identity of our Users
      and/or the veracity, accuracy and reliability of any communication and/or
      Content provided by them. As a rule, and without derogating from our right to
      do so, we do not investigate our User&#x2019;s reliability, reputation, conduct,
      affiliations, criminal record, background or any other information regarding their
      past present or future existence. We encourage you to act prudently and to
      exercise discretion and sound judgment in your use of the Site and/or the
      Services and in your interaction with other Users and, to this end, to make use
      of any and all tools available to you, trough the Site or otherwise, to
      communicate directly with other Users, Members and to share
      with other Users information about your experiences using the Services and
      review information of the experiences of other Users.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Proprietary
      Rights
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Dhokebaaz.net
      owns and retains ownership in the Dhokebaaz.net Platform, and all intellectual
      property therein. Contingent upon Your compliance with the terms and conditions
      of this Agreement, Dhokebaaz.net hereby grants to You a limited, non-transferable,
      non-exclusive, non-assignable, revocable license to use the Dhokebaaz.net Platform
      on any computer or device. You may not distribute or make the Dhokebaaz.net
      Platform available over a network where it could be used by multiple devices at
      the same time. You may not rent, lease, lend, sell, redistribute or sublicense
      the Dhokebaaz.net Platform. You may not copy (except as expressly permitted by this
      license and the Usage Rules), decompile, reverse engineer, disassemble, attempt
      to derive the source code of, modify, or create derivative works of the Dhokebaaz.netPlatform,
      any updates, or any part thereof (except as and only to the extent any
      foregoing restriction is prohibited by applicable law). Any attempt to do so is
      a violation of the rights of Dhokebaaz.net and its licensors. If You breach this
      restriction, You may be subject to prosecution and damages. The terms of the
      license will govern any upgrades provided by Dhokebaaz.net that replace and/or
      supplement the Dhokebaaz.net Platform, unless such upgrade is accompanied by a
      separate license in which case the terms of that license will govern.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      You
      warrant and represent to Us that Your Information is posted by You and that You
      are the sole author of Your Information. To enable the Dhokebaaz.net Platform to
      use Your Information without violating any rights You might have in such
      information, You automatically grant, and You represent and warrant that You
      have the right to grant, to Us and other Participants, a non-exclusive,
      worldwide, perpetual, irrevocable, royalty-free, sub-licensable (through
      multiple tiers) right to exercise the copyright, publicity, and database rights
      You have in Your Information and Your Content, and to use, copy, perform,
      display and distribute such information and content and to prepare derivative
      works of, or incorporate into other works, such information and content, in any
      media now known or not currently known, with respect to Your Information. Dhokebaaz.net
      will only use Your Information and Content in accordance with Our Privacy
      Policy. You may remove Your Content or Your Information from the Dhokebaaz.net
      Platform at any time. If You choose to remove Your Content or Your Information,
      the license granted above will automatically expire, however You acknowledge
      that Dhokebaaz.net may retain archived copies of Your Content. Dhokebaaz.net does not
      assert any ownership over Your Content; rather, as between Us and You, subject
      to the rights granted to Us in these Terms of Service, You retain full
      ownership of all of Your Content and any intellectual property rights or other
      proprietary rights associated with Your Content. In addition, other
      Participants may post copyrighted information on the Dhokebaaz.net Platform, which
      has copyright protection whether or not it is identified as copyrighted. Except
      for that information which is in the public domain or for which You have been
      given permission, You will not copy, modify, publish, transmit, distribute,
      perform, display, or sell any such proprietary information of other
      Participants on the Dhokebaaz.net Platform.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Information
      Control
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      If
      any location data provided by the Dhokebaaz.net Platform is for basic location
      purposes only and is not intended to be relied upon in situations where precise
      location information is needed or where erroneous, inaccurate or incomplete
      location data may lead to death, personal injury, property or environmental
      damage. Neither Dhokebaaz.net, nor any of its content providers, guarantees the
      availability, accuracy, completeness, reliability, or timeliness of location
      data displayed by the Services.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Dhokebaaz.net
      E-mails
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      E-mail
      communications sent from Us or through Us are designed to make Your Dhokebaaz.net experience
      more efficient. By becoming a User, You specifically agree to accept and
      consent to receiving e-mail communications initiated from Us or through Us,
      which include, without limitation: message notification e-mails, e-mails
      informing You about promotions, and emails informing You of new and existing
      features. Dhokebaaz.net reserves the right to cancel the notification service at
      any time. If You do not wish to receive any of our e-mail communications,
      please do not use the Services.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Intellectual
      Property
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      All
      intellectual property rights on the Dhokebaaz.net Platform and in the Services
      shall be owned by Us absolutely and in their entirety. These rights include and
      are not limited to database rights, copyright, design rights (whether
      registered or unregistered), trademarks (whether registered or unregistered)
      and other similar rights wherever existing in the world together with the right
      to apply for protection of the same. All other trademarks, logos, service
      marks, company or product names set forth in the Dhokebaaz.netPlatform are the
      property of their respective owners. You acknowledge and agree that any questions,
      comments, suggestions, ideas, feedback or other information about the Dhokebaaz.net
      Platform or the Services ("Submissions"), provided by You to Us are
      non-confidential and shall become the sole property of Dhokebaaz.net. Dhokebaaz.net
      shall own exclusive rights, including all intellectual property rights, and
      shall be entitled to the unrestricted use and dissemination of these
      Submissions for any purpose, commercial or otherwise, without acknowledgment or
      compensation to You.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Online
      Content Disclaimer
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Opinions,
      advice, statements, offers, or other information or content made available
      through the Services, but not directly by Us, are those of their respective
      authors, and should not necessarily be relied upon. Such authors are solely
      responsible for such content. We do not guarantee the accuracy, completeness,
      or usefulness of any information on the Services and neither do We adopt nor
      endorse nor are We responsible for the accuracy or reliability of any opinion,
      advice, or statement made by parties other than Us. Under no circumstances will
      We be responsible for any loss or damage resulting from anyone's reliance on
      information or other content posted on the Services, or transmitted to
      participants. We reserve the right, but We have no obligation, to monitor the
      materials posted in the public areas of the Services. Notwithstanding this
      right, You remain solely responsible for the content of the photos, profiles
      (including Your name, image, and likeness), messages, notes, text, information,
      music, video, advertisements, listings, and other content (the
      "Content") that You post in the public areas of the Services and in
      Your private e-mail messages. We shall have the right to remove any such
      material that in Our sole opinion violates, or is alleged to violate, the law
      or this agreement or which might be offensive, illegal, or that might violate
      the rights, harm, or threaten the safety of Users or others. E-mails sent
      between You and other participants that are not readily accessible to the
      general public will be treated by Us as private to the extent required by
      applicable law.
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      The
      Dhokebaaz.net Platform contains (or You may be sent through the Dhokebaaz.net Platform
      or the Services) links to other web sites ("Third Party Sites") as
      well as articles, photographs, text, graphics, pictures, designs, music, sound,
      video, information, applications, software and other content or items belonging
      to or originating from third parties (the "Third Party Applications,
      Software or Content"). Such Third Party Sites and Third Party
      Applications, Software or Content are not investigated, monitored or checked
      for accuracy, appropriateness, or completeness by Us, and We are not
      responsible for any Third Party Sites accessed through theDhokebaaz.net Platform or
      any Third Party Applications, Software or Content posted on, available through
      or installed from the Dhokebaaz.net Platform, including the content, accuracy,
      offensiveness, opinions, reliability, privacy practices or other policies of or
      contained in the Third Party Sites or the Third Party Applications, Software or
      Content. Inclusion of, linking to or permitting the use or installation of any
      Third Party Site or any Third Party Applications, Software or Content does not
      imply approval or endorsement thereof by Us. If You decide to leave the Dhokebaaz.net
      Platform and access the Third Party Sites or to use or install any Third Party
      Applications, Software or Content, You do so at Your own risk and You should be
      aware that Our terms and policies no longer govern. You should review the
      applicable terms and policies, including privacy and data gathering practices,
      of any web site to which You navigate from the Dhokebaaz.net Platform or relating
      to any applications You use or install from the Dhokebaaz.netPlatform.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Other
      Disclaimers
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      We,
      Our subsidiaries, officers, directors, employees and our suppliers provide the Dhokebaaz.net
      Platform and the Services on an "as is" basis and without any
      warranty or condition, express, implied or statutory. We do not guarantee and
      do not promise any specific results from use of the Dhokebaaz.net Platform and/or
      the Services. We, Our subsidiaries, officers, directors, employees and Our
      suppliers specifically disclaim any implied warranties of title,
      merchantability, fitness for a particular purpose and non-infringement. Some
      states do not allow the disclaimer of implied warranties, so the foregoing
      disclaimer may not apply to You. This warranty gives You specific legal rights
      and You may also have other legal rights that vary from state to state. We do
      not warrant that Your use of the Services will be accurate, complete, reliable,
      current, secure, uninterrupted, always available, or error-free, or will meet
      Your requirements, that any defects in the Services will be corrected, or that
      the Services are free of viruses or other harmful components. We disclaim
      liability for, and no warranty is made with respect to, connectivity and
      availability. We cannot guarantee that each User is at least the required
      minimum age, nor do We accept responsibility or liability for any content,
      communication or other use or access of the Dhokebaaz.net Platform or the Services
      by persons under the age of 18 in violation of this Agreement. We are not responsible
      or liable in any manner for any Content posted on the Dhokebaaz.net Platform or in
      connection with the Service, whether posted or caused by Users of the Dhokebaaz.net
      Platform, by Dhokebaaz.net, by third parties or by any of the equipment or
      programming associated with or utilized in the Dhokebaaz.net Platform or the
      Services. Although We provide rules for User conduct and postings, We do not
      control and are not responsible for what Users post, transmit or share on the
      Dhokebaaz.net Platform and are not responsible for any offensive, inappropriate,
      obscene, unlawful or otherwise objectionable content You may encounter on the
      Dhokebaaz.net Platform or in connection with any Content. Dhokebaaz.netis not
      responsible for the conduct, whether online or offline, of any user of the Dhokebaaz.net
      Platform or Services. It also is possible for others to obtain personal
      information about You due to Your use of the Dhokebaaz.net Platform or the
      Services, and that the recipient may use such information to harass or injure
      You. We are not responsible for the use of any personal information that You
      disclose on the Dhokebaaz.net Platform or through the Services.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Limitation
      of Liability
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      IN
      NO EVENT WILL WE, OUR SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES OR OUR
      SUPPLIERS, BE LIABLE TO YOU FOR ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT
      DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR DELETION, CORRUPTION, LOSS
      OF DATA, LOSS OF PROGRAMS, FAILURE TO STORE ANY INFORMATION OR OTHER CONTENT
      MAINTAINED OR TRANSMITTED BY OUR SERVICES, SERVICE INTERRUPTIONS, OR FOR THE
      COST OF PROCUREMENT OF SUBSTITUTE SERVICES) ARISING OUT OF OR IN CONNECTION
      WITH Dhokebaaz.net, OUR SERVICES OR THIS AGREEMENT (HOWEVER ARISING, INCLUDING
      NEGLIGENCE) EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN
      ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. WE DO NOT SCREEN THE USERS USING
      THE SERVICES IN ANY WAY. AS A RESULT, WE WILL NOT BE LIABLE FOR ANY DAMAGES,
      DIRECT, INDIRECT, INCIDENTAL AND/OR CONSEQUENTIAL, ARISING OUT OF THE USE OF
      Dhokebaaz.net OR THE SERVICES, INCLUDING, WITHOUT LIMITATION, TO DAMAGES ARISING
      OUT OF COMMUNICATING AND/OR MEETING WITH OTHER PARTICIPANTS OF Dhokebaaz.net OR THE
      SERVICES, OR INTRODUCED TO YOU VIA Dhokebaaz.net OR THE SERVICES. SUCH DAMAGES
      INCLUDE, WITHOUT LIMITATION, PHYSICAL DAMAGES, BODILY INJURY, DEATH AND OR
      EMOTIONAL DISTRESS AND DISCOMFORT. NOTWITHSTANDING ANYTHING TO THE CONTRARY
      CONTAINED HEREIN, OUR LIABILITY, AND THE LIABILITY OF OUR SUBSIDIARIES,
      OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN
      ANY CIRCUMSTANCE IS LIMITED TO $100. CERTAIN STATE LAWS DO NOT ALLOW
      LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN
      DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS,
      EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL
      RIGHTS.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""} Release
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      In
      the event that You have a dispute with one or more Users, You agree to release Dhokebaaz.net
      (and Our officers, directors, agents, subsidiaries, joint ventures and
      employees) from claims, demands and damages (actual and consequential) of every
      kind and nature, known and unknown, suspected and unsuspected, disclosed and
      undisclosed, arising out of or in any way connected to such disputes with other
      Users or to Your use of the Dhokebaaz.net Platform or the Services. If You are a
      California resident, You waive California Civil Code Section 1542, which says:
      "A general release does not extend to claims which the creditor does not
      know or suspect to exist in his favor at the time of executing the release,
      which, if known by him must have materially affected his settlement with the
      debtor."
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""} Breach
  %p.MsoNormal{:style => "margin-left:47.0pt;text-align:justify;text-justify:         inter-ideograph;text-indent:-.5in;text-autospace:none"}
    %span{:style => "font-family:         \"Helvetica\",\"sans-serif\""}
      1.
      %span{:style => "font:7.0pt \"Times New Roman\""}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Without
      limiting other remedies, We may terminate Your Participation, remove Your
      Information, warn Our community of Your actions, issue a warning, and refuse to
      provide Our services to You if: You breach this Agreement or the documents it
      incorporates by reference; We are unable to verify or authenticate any information
      You provide to Us; We believe that Your actions may cause financial loss or
      legal liability for You, Our users or Us, or subject Dhokebaaz.net or You or any
      other User to regulation by any state or local government or regulatory agency;
      or if We suspect that You have engaged in fraudulent activity in connection
      with the Dhokebaaz.net Platform or the Services (for example, but not limited to
      arranging &#x201C;trades&#x201D; outside our Platform).
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""} Privacy
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      We
      do not sell or rent Your Information to third parties for their marketing
      purposes without Your explicit consent and We only use Your information as
      described in the Privacy Policy. We view protection of users' privacy as a very
      important community principle. We understand clearly that You and Your
      information is one of Our most important assets. We store and process Your
      information on computers that are protected by physical as well as
      technological security devices. We use third parties to verify and certify Our
      privacy principles. If You object to Your Information being transferred or used
      in this way, please do not use or access Our Services.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""} Confidentiality
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      You
      agree not to use any technical, financial, strategic and other proprietary and
      confidential information relating to Dhokebaaz.net&#x2019;s business, operations and
      properties (&#x201C;Confidential Information&#x201D;) disclosed to You by Dhokebaaz.net for Your
      own use or for any purpose other than as contemplated herein. You shall not
      disclose or permit disclosure of any Confidential Information to third parties.
      You agree to take all reasonable measures to protect the secrecy of and avoid
      disclosure or use of Confidential Information of Dhokebaaz.net in order to prevent
      it from falling into the public domain. Notwithstanding the above, You shall
      not have liability to Dhokebaaz.net with regard to any Confidential Information which
      You can prove: (a) was in the public domain at the time it was disclosed by Dhokebaaz.net
      or has entered the public domain through no fault of Yours; (b) was known to
      You, without restriction, at the time of disclosure, as demonstrated by files
      in existence at the time of disclosure; (c) is disclosed with the prior written
      approval of Dhokebaaz.net; (d) becomes known to You, without restriction, from a
      source other than Dhokebaaz.net without breach of this Agreement by You and
      otherwise not in violation of Dhokebaaz.net&#x2019;s rights;or (e) is disclosed pursuant
      to the order or requirement of a court, administrative agency, or other
      governmental body; provided, however, that You shall provide prompt notice of
      such court order or requirement to Dhokebaaz.net to enable Dhokebaaz.net to seek a
      protective order or otherwise prevent or restrict such disclosure.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      No
      Agency
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      You
      and Dhokebaaz.net are independent contractors, and no agency, partnership, joint
      venture, employee-employer or franchisor-franchisee relationship is intended or
      created by this Agreement.
  %p.MsoNormal{:style => "margin-bottom:.25in;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      Notices,
      Complaints
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
      To
      resolve a complaint regarding the Service, You should first contact Our
      Customer Service Department by email at admin@dokhebaaz.net .
      %a{:name => "_GoBack"}
  %p.MsoNormal{:style => "margin-bottom:16.0pt;text-align:justify;text-justify:         inter-ideograph;text-autospace:none"}
    %span{:style => "font-family:\"Helvetica\",\"sans-serif\""}
