%section
  .row
    .col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
      %p
        %strong © 2015 TruthFinder
        %span.footer-block= link_to "Privacy Policy", "/privacy_policy"
        %span.footer-block= link_to "Terms and conditions", "/terms_of_service"
